

.Contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    margin: auto;
    height: 85vh; /* 85 porciento de la pantalla*/
    /* background-color: #ffffff; */
    position:relative;
    bottom: 10px;
    top: -89px;
   
}

.contenedorFormulario{
    height: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
    position: relative;
    bottom: 10px;
    top: 80px;
    height: 80%;
    background-color: white;
    /* background-color: #F1F416; */
    width: 40%;
    -webkit-box-shadow: -39px 34px 18px -22px rgba(0,0,0,0.35);
    -moz-box-shadow: -39px 34px 18px -22px rgba(0,0,0,0.35);
    box-shadow: -39px 34px 18px -22px rgba(0,0,0,0.35);
}

.Contenedor1{
    margin: auto;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
}



.formulario1{
    top: 0;
    width: 60%;
    margin: auto;
}

.formCheck{
    display: flex;
    flex-direction: column;
}

.form-control{
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
}


.Contenedor p{
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 700;
}

.boton{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 20px;
}

.boton .btn{ 
    /* background: linear-gradient(37.35deg, #61B0DC 24.25%, rgba(97, 176, 220, 0.13) 88.46%); */
    font-weight: 700;
    transition: 0.5s;
}

.boton .btn:hover{
    background: linear-gradient(37.35deg, #61B0DC 24.25%, rgba(97, 176, 220, 0.13) 88.46%);
}



.invalid-feedback{
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.form-label{
    font-weight: 700;
}

.d-block{
    font-weight: 700;
}

/* input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

.select{
    margin: auto;
    width: 60%;
}


.tituloForm{
    margin: auto;
}

.contenidoSwal{
    font-size: 700;
}

.swal2-html-container{
    font-weight: 700;
}


.form-check-input {
    margin-right: 5px;
    cursor: pointer;
  }
  
  .form-check-label {
    font-weight: normal;
    margin-left: 1rem;
    cursor: pointer;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    
    }
  
  .checkbox-container .form-check-input {
    margin: 0;
  }
  
  