

.Contenedor{
    display: flex;
    flex-direction: column;
     
    margin: 2rem;
    width: 100%;
    /* 85 porciento de la pantalla*/
    /* background-color: #ffffff; */
   
   
 
   
}

.custom-checkbox input[type="checkbox"]:focus + .custom-control-label::before {
    box-shadow: none;
    border-color: #adb5bd;
  }
 
.form-check-input:checked{
    background-color: #ffc107;
    border-color: #ccc;
}
.contenedorFormulario{
    height: 70%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
    position: relative;
    bottom: 10px;
    

    background-color: white;
    /* background-color: #F1F416; */
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.165) !important;
}

.Contenedor1{
    width: 95%;
    margin-bottom: 0px;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    margin: 1REM;
}



.formulario1{
    top: 0;
    width: 80%;

}

.formCheck{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    
}

.form-control{
    width: 100%;
    padding: 10px;
}

.form{
    display: flex;
    flex-direction: column;
}


.Contenedor p{
    display: flex;
    
    font-size:large;
    
}

.boton{
   
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.boton .btn{ 
    /* background: linear-gradient(37.35deg, #61B0DC 24.25%, rgba(97, 176, 220, 0.13) 88.46%); */
    font-weight: 700;
    transition: 0.5s;
}

.boton .btn:hover{
    background: linear-gradient(37.35deg, #61B0DC 24.25%, rgba(97, 176, 220, 0.13) 88.46%);
}



.invalid-feedback{
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.form-label{
    font-weight: 700;
}

.d-block{
    font-weight: 700;
}

/* input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

.select{
    margin: auto;
    width: 60%;
}


.tituloForm{
    margin: auto;
}

.contenidoSwal{
    font-size: 700;
}

.swal2-html-container{
    font-weight: 700;
}


.form-check-input {
    margin-right: 5px;
    cursor: pointer;
  }
  .form-check-input-cantidadPreguntas {
    margin-right: 5px;
    cursor: pointer;
  }
  
  .form-check-label {
    font-weight: normal;
    margin-left: 1rem;
    cursor: pointer;
    
    
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    
    }
    .checkbox-categoria{
        padding: 15px !important;
    }
  
  .checkbox-container .form-check-input {
    margin: 0;
  }
  
  .cantidadPreguntasInput{
    border-radius: 50% !important;
  }

  .cantidadPreguntas {
    display: flex;
    flex-direction: column;
    
    
  }
  
  .cantidadPreguntas label:first-child {
    font-size: 18px;
    font-weight: bold;
  }
  
 .separator{
    border-right: 2px solid #ccc;
    height: 30px;
    margin: 0 30px;
    position: relative;
    display: flex;
    align-self: center;
 }
 .formCheck .checkbox-container label {
    /* Estilos para las etiquetas label */
    width: 80%;
    display: flex;
  }
  .cantidadPreguntas-container{
    margin-top: 1rem;
    width: 90%;
  }

  .sub-title{
    width: 100%;
    border-bottom: 3px solid rgb(236, 180, 27);
    font-size: 20px !important;
    color: #4e5457;
    
  }