/* Estilos para el DatePicker */
.react-datepicker {
  font-family: Arial, sans-serif;
}

.react-datepicker-wrapper {
  display: flex !important;
  flex-direction: column;
}

.react-datepicker__input-container {
  display: flex;
  margin-left: 2rem;
  width: 20%;
}

.react-datepicker__input-container input {
    
}

